.screen {
    margin: 10px;
    padding: 10px;
    height: 80px;
    text-align: right;
}

.container {
    max-height: 570px;
    max-width: 360px;
    border: 3px solid black;
    padding: 0px;
    padding-bottom: 10px;
}



td {
    background: white;
    color: darkblue;
    text-align: center;
    padding-bottom: 10px;
    padding: 10px;
    height: 79px;
    width: 80px;
    font-size: 30px;
    position: relative;
    align-items: center;
    text-align: center;
    border: 0.5px solid skyblue;
}

td:active {
    box-shadow: 0px 0px #009de4;
    top: 4px;

}
